# Created by .ignore support plugin (hsz.mobi)
### Actionscript template
# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen### Ada template
# Object file
*.o

# Ada Library Information
*.ali

将删除 jar/commons-io-2.6.jar
将删除 jar/qcloudsms-1.0.6.jar
/src/com/ming/Configuration.json
